* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Noto Sans", system-ui;
}
:root {
  --primary-color: rgb(26, 95, 122);
  --secondary-color: rgb(38, 153, 177);
  --accent1-color: rgb(67, 163, 177);
  --accent2-color: rgb(243, 245, 249);
}
.nav-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--primary-color);
  padding: 2px 20px;
}
.logo-box {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
}
.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  color: var(--primary-color);
  padding: 5px 20px;
  text-decoration: none;
  background-color: var(--accent2-color);
  font-family: "Noto Sans", system-ui;
  border-right: 2px solid gray;
}
main {
  padding: 0px 50px;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  text-align: center;
}

.hero-box h1 {
  margin-bottom: 15px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}
.hero-box p {
  color: #000000;;
}
article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.article-img {
  width: 200px;
  height: 200px;
}

.company-history h2 {
  color: var(--primary-color);
  text-align: center;
  margin: 15px 0px;
  font-family: "Poppins", sans-serif;
}
.company-history p {
  color: #000000;
}
.company-history-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2px 20px;
}
.company-history-card{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.company-history-card img {
  width: 400px;
  height: auto;
  object-fit: contain;
}
.adventure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adventure h2 {
  color: var(--primary-color);
  text-align: center;
  margin: 15px 0px;
  font-family: "Poppins", sans-serif;
}
.adventure-box{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2px 20px;
}
.adventure-box-card{
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.adventure-box-card img{
  width: 220px;
  padding: 5px;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}
.adventure-box-card h5{
  color: var(--primary-color);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
footer {
  margin-top: 15px;
  background-color: var(--primary-color);
  padding: 50px;
}
.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-box p {
  color: var(--accent2-color);
}
.ourteam-section h2{
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  color: #1a5f7a;
}
.ourteam-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 25px auto;
  padding: 30px;
}
.ourteam-box-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #808080;
  border-radius: 4px;
}
.ourteam-box-card img{
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}

.contact-section h2{
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  color: #1a5f7a;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 4px;
}
label {
  margin-top: 10px;
 
}
.form-select{

  margin-top: 15px;

}
.form-select-card{
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
input[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color:  #1a5f7a;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color:  #1a5f7a;
}

.Contactus-wrap{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 25px auto;
  padding: 30px;
}
.Contactus-wrap-card{
  margin-top: 20px;
}